   {% load static %}
   <!--bootstrap js-->
    <script src="{% static 'assets/Backend/js/bootstrap.bundle.min.js'%}"></script>
  
    <!--plugins-->
    <script src="{% static 'assets/Backend/js/jquery.min.js'%}"></script>
    <!--plugins-->
    <script src="{% static 'assets/Backend/plugins/perfect-scrollbar/js/perfect-scrollbar.js'%}"></script>
    <script src="{% static 'assets/Backend/plugins/metismenu/metisMenu.min.js'%}"></script>
    <script src="{% static 'assets/Backend/plugins/apexchart/apexcharts.min.js'%}"></script>
    <script src="{% static 'assets/Backend/plugins/simplebar/js/simplebar.min.js'%}"></script>
    <script src="{% static 'assets/Backend/plugins/peity/jquery.peity.min.js'%}"></script>
    <script>
      $(".data-attributes span").peity("donut")
    </script>
    <script src="{% static 'assets/Backend/js/main.js'%}"></script>
    <script src="{% static 'assets/Backend/js/dashboard1.js'%}"></script>
    <script>
         new PerfectScrollbar(".user-list")
    </script>
  
  </body>
  
  
  </html>
</body>
</html>