{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kisan समुदाय</title>
    <link rel="stylesheet" href="{%static 'assets/Frontend/css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1 >|| Kisan.समुदाय ||</h1>
        
        <!-- Post Form -->
        <div class="post-form">
            <h2 style="color: #9a2825;">Post Your Problem</h2>
            <input type="text" id="username" placeholder="Enter your name" required>
            <textarea id="postText" placeholder="Describe your problem" required></textarea>
            <input type="file" id="imageUpload" accept="image/*">
            <button id="submitPost"><b>Post</b></button>
        </div>

        <!-- Search Bar -->
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search posts by username">
        </div>

        <!-- Post Section -->
        <div id="postSection"></div>
    </div>

    <script src="{%static 'assets/Frontend/js/styles.css' %}"></script>
</body>
</html>
